<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    動物は素晴らしい！！
  </p>
  <h2 class='ad-footer-title'>
    可愛いあの子の写真を！！
  </h2>
  <div class='store-btn'>
  </div>
</div>
<%# /下部広告部分 %>

